<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-feature android:name="android.hardware.vulkan.level" android:required="true" android:value="1.1"/>
  <uses-feature android:name="android.hardware.vulkan.version" android:required="true" android:version="24"/>

  <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:theme = "@style/NoActionBar">
  </application>
</manifest>